<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
    </head>
    <body>
        <h1>Upload new file</h1>
        <form method='POST' enctype='multipart/form-data'>
            <input type='file' name='file'>
            <input type='submit' value='Upload'>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

    <section>
        <h2>Uploaded Files</h2>
        {% if context %}
            <ul>
            {% for file_record in context %}
                <li>
                    <span>Filename:</span>
                    <span>{{ file_record.filename }}</span>
                    <br>
                    <span>Upload Date:</span>
                    <span>{{ file_record.uploaded }}</span>
                    <br>
                    <a href='{{ file_record.link }}'>View</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <div>No files have been uploaded</div>
        {% endif %}
    </body>
</html>
